<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<!-- the entire body must be written by student -->
	  <div class="container-fluid text-center">
        <!-- First Row (12 Images) -->
        <div class="row">
            <div class="col-sm-1" v-for="i in 12">
                <img src="https://via.placeholder.com/100" alt="Movie Image">
            </div>
        </div>

        <!-- Second Row (6 Images) -->
        <div class="row">
            <div class="col-sm-2" v-for="i in 6">
                <img src="https://via.placeholder.com/100" alt="Movie Image">
            </div>
        </div>

        <!-- Third Row (3 Images) -->
        <div class="row">
            <div class="col-sm-4" v-for="i in 3">
                <img src="https://via.placeholder.com/100" alt="Movie Image">
            </div>
        </div>

        <!-- Fourth Row (1 Image) -->
        <div class="row">
            <div class="col-sm-12">
                <img src="https://via.placeholder.com/100" alt="Movie Image">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./script.js">
</script>

</body>

</html>